<div class="container">
  <article class="markdown-body entry-content" itemprop="text">
    <h1>
      <a href="#teste-backend" aria-hidden="true" class="anchor" id="user-content-teste-backend">
        <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
          <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
        </svg>
      </a>Teste Backend</h1>
      <hr>
    <h2>
      <a href="#para-rodar-o-projeto" aria-hidden="true" class="anchor" id="user-content-para-rodar-o-projeto">
        <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
          <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
        </svg>
      </a>Para rodar o projeto:</h2>
    <ul>
      <li>clone ou baixe o projeto</li>
      <li>pelo terminal execute o comando
        <code>npm install</code> na raiz do projeto</li>
      <li>em seguida execute
        <code>npm start</code>
      </li>
    </ul>
    <h2>
      <a href="#requisitos" aria-hidden="true" class="anchor" id="user-content-requisitos">
        <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
          <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
        </svg>
      </a>Requisitos</h2>
      <hr>
    <ul>
      <li>instalar
        <a href="https://nodejs.org/en/download/">nodejs</a>
      </li>
    </ul>
    <h2>
      <a href="#rotas-do-projeto" aria-hidden="true" class="anchor" id="user-content-rotas-do-projeto">
        <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
          <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
        </svg>
      </a>Rotas do Projeto</h2>
      <hr>
    <ul>
      <li>
        <p>Index (
          <a href="http://localhost:3000/">http://localhost:3000/</a>) Rota inicial do projeto, com instruções.</p>
      </li>
      <li>
        <p>Compras (
          <a href="http://localhost:3000/compras">http://localhost:3000/compras</a>) Rota para listar os OrderBooks de
          <code>bids</code>. Com o filtro de</p>
        <ul>
          <li>
            <code>Exchange</code>
          </li>
          <li>
            <code>Valor unitário</code>
          </li>
          <li>
            <code>Quantidade</code>
          </li>
        </ul>
      </li>
      <li>
        <p>Vendas (
          <a href="http://localhost:3000/vendas">http://localhost:3000/vendas</a>) Rota para listar os OrderBooks de
          <code>asks</code>. Com o filtro de</p>
        <ul>
          <li>
            <code>Exchange</code>
          </li>
          <li>
            <code>Valor unitário</code>
          </li>
          <li>
            <code>Quantidade</code>
          </li>
        </ul>
      </li>
    </ul>
  </article>
</div>